*,
::after,
::before {
   margin: 0;
   padding: 0;
}
html {
   //defines what 1rem is
   font-size: 62.5%; //1 rem = 10px
}
body {
   font-size: 14px;
   font-family: $font-primary;

   &.loading-active {
      overflow: hidden;
   }
}

h1 {
   font-size: 5rem !important;
}
h2 {
   font-size: 3.2rem !important;
}
h3 {
   font-size: 2.5rem !important;
}
h4 {
   font-size: 2rem !important;
}
h5 {
   font-size: 1.7rem !important;
}
h6 {
   font-size: 15px !important;
}
p {
   font-size: 12px;
}
span {
   font-size: 1.2rem;
}
