@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap");
:root {
  --color-1: #192a44; }

*,
::after,
::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-family: "Roboto Serif", sans-serif; }
  body.loading-active {
    overflow: hidden; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.2rem !important; }

h3 {
  font-size: 2.5rem !important; }

h4 {
  font-size: 2rem !important; }

h5 {
  font-size: 1.7rem !important; }

h6 {
  font-size: 15px !important; }

p {
  font-size: 12px; }

span {
  font-size: 1.2rem; }

html {
  scroll-behavior: smooth; }

.main {
  overflow-x: hidden; }

.content {
  margin-left: 250px;
  transition: margin-left 0.3s; }

.heading__1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 8px;
  font-size: 8rem !important;
  text-align: center; }

.heading__2 {
  text-align: center;
  font-style: italic;
  letter-spacing: 0.3rem; }

input {
  outline: none; }

.loading__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  background-color: white; }
  .loading__container .multi-ripple {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin: 2rem; }
    .loading__container .multi-ripple div {
      position: absolute;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      border: 0.3rem solid var(--color-1);
      animation: 1.5s ripple infinite; }
      .loading__container .multi-ripple div:nth-child(2) {
        animation-delay: 0.5s; }

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1; }
  to {
    transform: scale(1);
    opacity: 0; } }

#sidebar-checkbox {
  display: none; }

#sidebar-checkbox:checked ~ #navbar {
  /*left: 0;*/
  right: 0 !important;
  opacity: 1; }

#navbar {
  position: fixed;
  top: 0;
  z-index: 200;
  color: white;
  width: 100%;
  height: 130px;
  transition: all 0.3s; }
  #navbar .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%; }
  #navbar.scroll__down {
    padding-top: 0px;
    background-color: #0000002c;
    height: 50px; }
    #navbar.scroll__down .logo__cnt {
      display: none; }
    #navbar.scroll__down .left__list,
    #navbar.scroll__down .right__list {
      border-bottom: none; }
  #navbar .logo {
    width: 180px; }
  #navbar ul {
    font-family: "Bebas Neue", cursive;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    margin: 0;
    padding: 0; }
    #navbar ul li {
      cursor: pointer;
      transition: background-color 0.3s;
      padding: 13px 30px 10px 30px;
      text-transform: uppercase; }
      #navbar ul li:hover {
        background-color: rgba(255, 255, 255, 0.13); }
  #navbar .left__list,
  #navbar .right__list {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid white;
    width: 100%;
    transition: all 0.3s; }
  #navbar .left__list {
    justify-content: start; }
  #navbar .right__list {
    justify-content: end; }

@media screen and (max-width: 900px) {
  .navbar__btn,
  .sidebar__close {
    display: block !important; }
  .logo__cnt {
    display: none; }
  #navbar {
    right: -100%;
    opacity: 0; }
  .nav__container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important; }
    .nav__container .left__list,
    .nav__container .right__list {
      align-items: center !important;
      justify-content: center !important;
      border-bottom: none !important; }
      .nav__container .left__list ul,
      .nav__container .right__list ul {
        flex-direction: column;
        text-align: center; } }

.navbar__btn {
  display: none;
  position: fixed;
  z-index: 300;
  right: 2px;
  /*left: 20px; */
  top: 0px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .navbar__btn .bg {
    z-index: -10;
    position: absolute;
    top: -50px;
    right: -50px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.24); }
  .navbar__btn span, .navbar__btn:before, .navbar__btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid white;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .navbar__btn:before {
    transform: translateY(-8px); }
  .navbar__btn:after {
    transform: translateY(8px); }

/* closing animation */
#sidebar-checkbox:checked + .navbar__btn span {
  transform: scaleX(0); }

#sidebar-checkbox:checked + .navbar__btn:before {
  transform: rotate(45deg);
  border-color: #fff; }

#sidebar-checkbox:checked + .navbar__btn:after {
  transform: rotate(-45deg);
  border-color: #fff; }

.header {
  height: 90rem;
  background-image: linear-gradient(to right bottom, #142546c7, #121f3dd0), url("../assets/images/mountain-1.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 25rem;
  color: white; }
  .header .subtitle {
    font-family: "Gloria Hallelujah", cursive;
    display: block;
    font-size: 3rem; }
  .header .title {
    font-family: "Paytone One", sans-serif;
    display: block;
    font-size: 10rem; }
  .header .map {
    width: 70rem;
    position: relative;
    margin-bottom: 50px; }
  .header .area {
    position: absolute; }
    .header .area h2 {
      font-family: "Gloria Hallelujah", cursive; }
  .header .start__area {
    left: -7rem;
    top: 9rem; }
  .header .end__area {
    right: -10rem;
    top: -5rem; }
  .header button {
    padding: 1.2rem 2.5rem;
    border: 0.2rem solid white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    width: 20rem;
    transition: all 0.3s; }
    .header button:hover {
      background-color: rgba(255, 255, 255, 0.13);
      border: 0.2rem solid rgba(255, 255, 255, 0.13); }

:root {
  --card-width: 35rem;
  --card-height: 35rem;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease; }

.slider__1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px; }
  .slider__1 .card__list {
    top: calc(var(--card-width) * 4 / 5);
    position: absolute;
    width: 100%;
    max-width: calc(3 * var(--card-width));
    height: auto; }
    .slider__1 .card__list .cards__wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
      .slider__1 .card__list .cards__wrapper .card {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) scale(var(--card-scale-offset));
        display: inline-block;
        width: var(--card-width);
        height: var(--card-height);
        transition: transform var(--card-transition-duration) var(--card-transition-easing);
        user-select: none; }
        .slider__1 .card__list .cards__wrapper .card .card__image {
          position: relative;
          width: 100%;
          height: 100%;
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }
          .slider__1 .card__list .cards__wrapper .card .card__image img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; }
          .slider__1 .card__list .cards__wrapper .card .card__image::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.877);
            z-index: 1;
            transition: opacity var(--card-transition-duration) var(--card-transition-easing);
            opacity: calc(1 - var(--opacity)); }
        .slider__1 .card__list .cards__wrapper .card::after {
          content: "";
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: calc(var(--card-width) + 2px);
          height: calc(var(--card-width) + 2px);
          background: rgba(0, 0, 0, 0.534);
          z-index: -1;
          transition: opacity var(--card-transition-duration) var(--card-transition-easing);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }
      .slider__1 .card__list .cards__wrapper .current--card {
        --card-translateX-offset: 0;
        --card-scale-offset: 1.2;
        --opacity: 1;
        z-index: 10; }
      .slider__1 .card__list .cards__wrapper .previous--card {
        --card-translateX-offset: calc(-1 * var(--card-width) * 0.8); }
      .slider__1 .card__list .cards__wrapper .next--card {
        --card-translateX-offset: calc(var(--card-width) * 0.8); }
      .slider__1 .card__list .cards__wrapper .previous--card,
      .slider__1 .card__list .cards__wrapper .next--card {
        --card-scale-offset: 0.9;
        --opacity: 0.4; }
        .slider__1 .card__list .cards__wrapper .previous--card .card__desc,
        .slider__1 .card__list .cards__wrapper .next--card .card__desc {
          display: none; }
    .slider__1 .card__list .slide__btn {
      position: absolute;
      transform: translateY(-50%);
      z-index: 100; }
      .slider__1 .card__list .slide__btn .icon i {
        font-size: 6rem;
        color: #192a44cb; }
    .slider__1 .card__list .left__btn {
      left: 5%; }
    .slider__1 .card__list .right__btn {
      right: 5%; }
  .slider__1 .card__info {
    margin-top: calc(var(--card-width) * 2 / 3);
    z-index: 20;
    position: relative;
    color: #000;
    text-align: center;
    width: 100%;
    padding: 2rem; }
    .slider__1 .card__info .title {
      color: white;
      font-weight: 500; }
    .slider__1 .card__info .desc {
      font-family: "Gloria Hallelujah", cursive;
      color: #f1d251;
      font-weight: 500; }
    .slider__1 .card__info .details {
      width: 100%;
      max-width: 70rem;
      transform: translateX(-50%);
      left: 50%;
      margin-top: 13rem;
      position: relative; }
      .slider__1 .card__info .details::before {
        position: absolute;
        content: "";
        width: 3px;
        height: 100%;
        background: #c7c7c79f;
        left: 50%;
        transform: translateX(-50%); }
      .slider__1 .card__info .details::after {
        position: absolute;
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background: #c7c7c79f;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 0; }
      .slider__1 .card__info .details .empty__para {
        height: 15rem; }
      .slider__1 .card__info .details .left__para,
      .slider__1 .card__info .details .right__para {
        color: #a8a8a8;
        font-size: 1.2rem !important;
        letter-spacing: 0.3rem;
        word-break: break-word;
        width: 100%;
        margin-bottom: 5rem;
        position: relative; }
        .slider__1 .card__info .details .left__para::after,
        .slider__1 .card__info .details .right__para::after {
          position: absolute;
          content: "";
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background: #c7c7c79f;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 1rem; }
      .slider__1 .card__info .details .left__para {
        padding-right: 52%; }
      .slider__1 .card__info .details .right__para {
        padding-left: 52%; }

:root {
  --card2-width: 30rem;
  --card2-height: 30rem;
  --card2-transition-duration: 800ms;
  --card2-transition-easing: ease; }

.slider__2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px; }
  .slider__2 .card__list {
    top: calc(var(--card2-width) * 4 / 5);
    position: absolute;
    width: 100%;
    max-width: calc(3 * var(--card2-width));
    height: auto; }
    .slider__2 .card__list .cards__wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
      vertical-align: middle; }
      .slider__2 .card__list .cards__wrapper .card {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) translateX(var(--card2-translateX-offset)) scale(var(--card2-scale-offset));
        display: inline-block;
        width: var(--card2-width);
        height: var(--card2-height);
        transition: transform var(--card2-transition-duration) var(--card2-transition-easing);
        user-select: none; }
        .slider__2 .card__list .cards__wrapper .card .card__image {
          position: relative;
          width: 100%;
          height: 100%;
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }
          .slider__2 .card__list .cards__wrapper .card .card__image img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; }
          .slider__2 .card__list .cards__wrapper .card .card__image::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.877);
            z-index: 1;
            transition: opacity var(--card2-transition-duration) var(--card2-transition-easing);
            opacity: calc(1 - var(--opacity)); }
        .slider__2 .card__list .cards__wrapper .card::after {
          content: "";
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: calc(var(--card2-width) + 2px);
          height: calc(var(--card2-width) + 2px);
          background: rgba(0, 0, 0, 0.534);
          z-index: -1;
          transition: opacity var(--card2-transition-duration) var(--card2-transition-easing);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }
      .slider__2 .card__list .cards__wrapper .current--card {
        --card2-translateX-offset: 0;
        --card2-scale-offset: 1.2;
        --opacity: 1;
        z-index: 10; }
      .slider__2 .card__list .cards__wrapper .previous--card {
        --card2-translateX-offset: calc(-1 * var(--card2-width) * 0.8); }
      .slider__2 .card__list .cards__wrapper .next--card {
        --card2-translateX-offset: calc(var(--card2-width) * 0.8); }
      .slider__2 .card__list .cards__wrapper .previous--card,
      .slider__2 .card__list .cards__wrapper .next--card {
        --card2-scale-offset: 0.8;
        --opacity: 0.4; }
        .slider__2 .card__list .cards__wrapper .previous--card .card__desc,
        .slider__2 .card__list .cards__wrapper .next--card .card__desc {
          display: none; }
    .slider__2 .card__list .slide__btn {
      position: absolute;
      transform: translateY(-50%);
      z-index: 100; }
      .slider__2 .card__list .slide__btn .icon i {
        font-size: 6rem;
        color: #192a44cb; }
    .slider__2 .card__list .left__btn {
      left: 5%; }
    .slider__2 .card__list .right__btn {
      right: 5%; }
  .slider__2 .card__info {
    margin-top: calc(var(--card2-width) + 18rem);
    z-index: 20;
    position: relative;
    color: #000;
    text-align: center;
    width: 400px;
    padding: 2rem; }
    .slider__2 .card__info .title {
      font-family: "Gloria Hallelujah", cursive;
      color: #f1d251;
      font-weight: 500;
      margin-bottom: 2rem; }
    .slider__2 .card__info .desc {
      color: #a8a8a8;
      font-size: 12px !important;
      letter-spacing: 0.1rem;
      line-height: 2.5rem;
      word-break: break-word;
      width: 100%;
      margin-bottom: 5rem;
      position: relative; }

#program {
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.849)), url("../assets/images/program-bg.jpg");
  background-size: cover;
  padding-bottom: 200px;
  min-height: 140rem; }
  #program .heading__1 {
    color: var(--color-1); }
  #program .heading__2 {
    color: #b9b9b9; }

#challenge {
  z-index: 20;
  margin-top: -200px;
  padding-top: 250px;
  padding-bottom: 200px;
  background-image: linear-gradient(to bottom, #001134, #10187e4d, #001134), url("../assets/images/challenge-bg.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 20rem, 100% 100%, 0% calc(100% - 20rem)); }
  #challenge .heading__1 {
    color: white;
    margin-bottom: 12rem; }
  #challenge .heading__2 {
    color: white; }
  #challenge .circles {
    margin-bottom: 5rem; }
    #challenge .circles .circle__wrapper {
      margin: 2rem;
      width: 18rem;
      text-align: center; }
      #challenge .circles .circle__wrapper .circle {
        margin: 2rem auto;
        position: relative;
        border: 2px solid white;
        border-radius: 50%;
        height: 14rem;
        width: 14rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center; }
        #challenge .circles .circle__wrapper .circle .text {
          position: absolute;
          font-family: "Poppins", sans-serif;
          color: white;
          font-size: 2.8rem;
          letter-spacing: 0.3rem;
          word-break: break-all;
          font-weight: 800;
          line-height: 3.2rem;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 80%; }
        #challenge .circles .circle__wrapper .circle::after {
          position: absolute;
          content: "";
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 92%;
          height: 92%;
          border: 2px solid white;
          border-radius: 50%; }
        #challenge .circles .circle__wrapper .circle::before {
          position: absolute;
          content: "";
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 115%;
          height: 115%;
          border: 2px solid white;
          border-radius: 50%; }
      #challenge .circles .circle__wrapper .circle__desc {
        color: white;
        letter-spacing: 1px;
        font-weight: 500; }

#team {
  margin-top: -200px;
  padding-top: 250px;
  padding-bottom: 100px;
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.849)), url("../assets/images/team-bg.jpg");
  background-size: cover; }
  #team .heading__1 {
    color: var(--color-1); }
  #team .heading__2 {
    color: #b9b9b9; }

#reviews {
  z-index: 20;
  margin-top: -200px;
  padding-top: 250px;
  padding-bottom: 100px;
  background-image: linear-gradient(to bottom, #001134, #10187e4d, #001134), url("../assets/images/challenge-bg.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 20rem, 100% 0, 100% calc(100% - 20rem), 0% 100%); }
  #reviews .heading__1 {
    color: white;
    margin-bottom: 12rem; }
  #reviews .heading__2 {
    color: white; }
  #reviews .reviews__container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem; }
    #reviews .reviews__container .reviews__item {
      color: white; }
      #reviews .reviews__container .reviews__item:nth-of-type(odd) {
        margin-top: -10rem;
        margin-bottom: 10rem; }
      #reviews .reviews__container .reviews__item .title {
        font-family: "Poppins", sans-serif;
        font-weight: 600; }
      #reviews .reviews__container .reviews__item .description {
        position: relative;
        font-size: 12px; }
        #reviews .reviews__container .reviews__item .description::before {
          position: absolute;
          content: "";
          height: 100%;
          width: 4px;
          background: #fff;
          left: 0;
          top: 0; }
      #reviews .reviews__container .reviews__item .name {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 600px; }

@media screen and (max-width: 900px) {
  .reviews__container {
    grid-template-columns: 1fr !important; }
    .reviews__container .reviews__item:nth-of-type(odd) {
      margin-top: 0rem !important;
      margin-bottom: 0rem !important; } }

#booking .heading__1 {
  color: var(--color-1); }

#booking .heading__2 {
  color: #b9b9b9; }

#booking .form {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  max-width: 90rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  justify-content: center;
  gap: 3rem; }
  #booking .form input {
    padding: 1rem;
    border: 1px solid #a0a0a0;
    height: 6rem;
    width: 100%; }
    #booking .form input:focus {
      border: 1px solid var(--color-1); }
  #booking .form button {
    border: 1px solid transparent;
    background: var(--color-1);
    color: white;
    height: 6rem;
    padding: 1rem 2rem;
    margin: 0 auto; }

#booking .icon {
  transition: all 0.25s;
  opacity: 0.4; }
  #booking .icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    margin: 1rem;
    border: 1px solid var(--color-1);
    border-radius: 50%;
    font-size: 2.4rem;
    color: var(--color-1); }
  #booking .icon:hover {
    opacity: 0.9; }

#booking .title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.3rem;
  color: #b9b9b9;
  font-weight: 500; }

#booking .footer {
  margin: 2rem;
  color: #b9b9b9;
  text-align: center; }

@media screen and (max-width: 900px) {
  #booking .form {
    max-width: 40rem;
    grid-template-columns: 1fr !important; } }

@media screen and (max-width: 900px) {
  html {
    font-size: 52%; } }

@media screen and (max-width: 450px) {
  html {
    font-size: 42%; } }

.disable {
  opacity: 0; }
