#program {
   background-image: linear-gradient(
         to bottom,
         rgb(255, 255, 255),
         rgba(255, 255, 255, 0.849)
      ),
      url("../assets/images/program-bg.jpg");
   background-size: cover;

   padding-bottom: 200px;
   min-height: 140rem;

   .heading__1 {
      color: var(--color-1);
   }
   .heading__2 {
      color: rgb(185, 185, 185);
   }
}

#challenge {
   z-index: 20;
   margin-top: -200px;
   padding-top: 250px;
   padding-bottom: 200px;
   background-image: linear-gradient(to bottom, #001134, #10187e4d, #001134),
      url("../assets/images/challenge-bg.jpg");
   background-size: cover;
   background-position: center;

   clip-path: polygon(0 0, 100% 20rem, 100% 100%, 0% calc(100% - 20rem));

   .heading__1 {
      color: white;
      margin-bottom: 12rem;
   }
   .heading__2 {
      color: white;
   }

   .circles {
      margin-bottom: 5rem;
      .circle__wrapper {
         margin: 2rem;
         width: 18rem;
         text-align: center;
         .circle {
            margin: 2rem auto;
            position: relative;
            border: 2px solid white;
            border-radius: 50%;
            height: 14rem;
            width: 14rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .text {
               position: absolute;
               font-family: $font-poppins;
               color: white;
               font-size: 2.8rem;
               letter-spacing: 0.3rem;
               word-break: break-all;
               font-weight: 800;
               line-height: 3.2rem;

               transform: translate(-50%, -50%);
               top: 50%;
               left: 50%;
               width: 80%;
            }

            &::after {
               position: absolute;
               content: "";
               transform: translate(-50%, -50%);
               top: 50%;
               left: 50%;
               width: 92%;
               height: 92%;

               border: 2px solid white;
               border-radius: 50%;
            }
            &::before {
               position: absolute;
               content: "";
               transform: translate(-50%, -50%);
               top: 50%;
               left: 50%;
               width: 115%;
               height: 115%;

               border: 2px solid white;
               border-radius: 50%;
            }
         }

         .circle__desc {
            color: white;
            letter-spacing: 1px;
            font-weight: 500;
         }
      }
   }
}

#team {
   margin-top: -200px;
   padding-top: 250px;
   padding-bottom: 100px;

   background-image: linear-gradient(
         to bottom,
         rgb(255, 255, 255),
         rgba(255, 255, 255, 0.849)
      ),
      url("../assets/images/team-bg.jpg");
   background-size: cover;

   .heading__1 {
      color: var(--color-1);
   }
   .heading__2 {
      color: rgb(185, 185, 185);
   }
}

#reviews {
   z-index: 20;
   margin-top: -200px;
   padding-top: 250px;
   padding-bottom: 100px;
   background-image: linear-gradient(to bottom, #001134, #10187e4d, #001134),
      url("../assets/images/challenge-bg.jpg");
   background-size: cover;
   background-position: center;

   clip-path: polygon(0 20rem, 100% 0, 100% calc(100% - 20rem), 0% 100%);

   .heading__1 {
      color: white;
      margin-bottom: 12rem;
   }
   .heading__2 {
      color: white;
   }

   .reviews__container {
      max-width: 110rem;
      margin: 0 auto;
      padding: 4rem;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;
      .reviews__item {
         color: white;

         &:nth-of-type(odd) {
            margin-top: -10rem;
            margin-bottom: 10rem;
         }

         .title {
            font-family: $font-poppins;
            font-weight: 600;
         }
         .description {
            position: relative;
            font-size: 12px;

            &::before {
               position: absolute;
               content: "";
               height: 100%;
               width: 4px;
               background: #fff;
               left: 0;
               top: 0;
            }
         }
         .img__container {
            img {
            }
         }

         .name {
            font-family: $font-poppins;
            font-size: 14px;
            font-weight: 600px;
         }
      }
   }
}

@media screen and (max-width: 900px) {
   .reviews__container {
      grid-template-columns: 1fr !important;
      .reviews__item:nth-of-type(odd) {
         margin-top: 0rem !important;
         margin-bottom: 0rem !important;
      }
   }
}

#booking {
   .heading__1 {
      color: var(--color-1);
   }
   .heading__2 {
      color: rgb(185, 185, 185);
   }

   .form {
      font-family: $font-poppins;

      padding: 2rem;
      max-width: 90rem;
      margin: 3rem auto;
      display: grid;
      grid-template-columns: 1fr 1fr auto;
      justify-content: center;
      gap: 3rem;

      input {
         padding: 1rem;
         border: 1px solid rgb(160, 160, 160);
         height: 6rem;
         width: 100%;
         &:focus {
            border: 1px solid var(--color-1);
         }
      }

      button {
         border: 1px solid transparent;
         background: var(--color-1);
         color: white;
         height: 6rem;
         padding: 1rem 2rem;
         margin: 0 auto;
      }
   }

   .icon {
      transition: all 0.25s;
      opacity: 0.4;

      i {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 4.5rem;
         height: 4.5rem;
         margin: 1rem;
         border: 1px solid var(--color-1);
         border-radius: 50%;

         font-size: 2.4rem;
         color: var(--color-1);
      }

      &:hover {
         opacity: 0.9;
      }
   }

   .title {
      font-family: $font-Poppins;
      letter-spacing: 0.3rem;
      color: rgb(185, 185, 185);
      font-weight: 500;
   }

   .footer {
      margin: 2rem;
      color: rgb(185, 185, 185);
      text-align: center;
   }
}

@media screen and (max-width: 900px) {
   #booking {
      .form {
         max-width: 40rem;

         grid-template-columns: 1fr !important;
      }
   }
}
